*.iml
../.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/.gradle/
/code_coverage/.gradle/
/code_coverage/build/
/code_coverage/build/classes/kotlin/main/

/sample/.gradle/
/sample/.idea/